# Файлы сборки Flutter и Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.web_tool/

# Локальные конфигурации платформ
android/local.properties
android/.gradle/
ios/.generated/

# Секреты, ключи и переменные окружения
*.env
*.env.*
!*.env.example
*.keystore
*.jks

# Настройки сред разработки (IDE)
.idea/
.vscode/
*.iml
*.iws
.DS_Store
